@model JobTracker.Models.ResumeViewModel

@{
    ViewData["Title"] = "Add Resume";
}

<h4>Resume</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-4">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="ResumeFile">Upload Resume</label>
                <input asp-for="ResumeFile" type="file" class="form-control"/>
                <span asp-validation-for="ResumeFile" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
