@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-5">Welcome</h1>
    <hr />
    <p>Keep track of your job applications and application material all in one place!</p>
    <a class="btn btn-primary" href="@Url.Action("Index", "Jobs")">All Job Applications</a>
</div>
