.primary-button{
    background-color: darkgreen;
    color: white;
}

.primary-button:hover {
    background-color: forestgreen;
    color: white;
}

.secondary-button {
    background-color: cadetblue;
    color: white;
}

.secondary-button:hover {
    background-color: lightblue;
    color: grey;
}

.fail-button {
    background-color: darkred;
    color:white;
}

.fail-button:hover {
    background-color: red;
    color: white;
}

.small-btn {
    padding:2px 4px;
}

.table th {
    background-color: saddlebrown;
    color: white;
    text-align: left;
    margin-top: 2px;
    opacity: 0.75;
}

table tr:nth-child(even) {
    background-color: tan;
}

a {
    text-decoration: none;
    color:white;
}

a:hover {
    color: lightgrey;
}